.auth-form {
    display: grid;
    gap: calc($spacing-unit / 2);
}

.auth-error {
    display: flex;
    flex-direction: column;

    color: $color-danger;
    margin-top: $spacing-unit;
    margin-bottom: calc(2 * $spacing-unit);
    padding: calc($spacing-unit / 2);
    border: 1px solid $color-danger;
    border-radius: 4px;


}