.expense-list {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.expense-preview {
    background-color: $color-neutral-200;
    border-radius: 4px;
    margin-bottom: $spacing-unit;
    padding: $spacing-unit;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($color-neutral-200, 5%);
    }

    .expense-title-and-category {
        display: flex;
        justify-content: space-between;
        gap: 4px;

        h3 {
            font-size: $font-size-h5;
        }

        p {
            font-size: $font-size-base;
            background-color: $color-info;
            color: $color-neutral-200;
            border-radius: 12px;
            padding: 2px $spacing-unit;
            display: inline-block;
        }
    }

    p {
        color: $color-grey-dark;
        margin-top: 4px;
    }

    small {
        display: block;
        margin-top: $spacing-unit;
        color: $color-neutral-300;
        font-size: $font-size-h6;
    }

    .expense-action-buttons {
        display: flex;
        gap: $spacing-unit;

        button {
            background-color: $color-primary;
            color: $color-neutral-100;
            border: none;
            border-radius: 4px;
            padding: $spacing-unit;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($color-primary, 10%);
            }
        }
    }
}